.App {
  text-align: center;
}

.video-container,
.progress-bar,
.gif-container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.App-assintaura-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}


.video-container video {
  width: 100%;
  height: auto;
}

.status-bar {
  height: 10px;
  background-color: #ccc;
}

.status-bar-inner {
  height: 100%;
  background-color: #0099ff;
}
.video-duration-error {
  color: red;
  margin-top: 10px;
}


.App-logo {
  max-width: 480px;
  max-height: 120px;
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  padding: 20px;
  text-align: center;
}

.App-header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.blinking-text {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.highlight {
  color: #0099ff;
}

.gif-container p {
  margin-bottom: 10px;
}

.gif-container img {
  margin-top: 10px;
}
